In [ ]:
def atualizar_populacao(A, B, C):
    #atualização anual usando as equações iniciais da questão
    novo_A = 0.9 * A + 0.05 * C
    novo_B = 0.8 * B + 0.1 * A
    novo_C = 0.95 * C + 0.2 * B
    return novo_A, novo_B, novo_C

#valores iniciais aleatorios para as populações e ano
A, B, C = 8000, 16000, 11000
anos = 100

#população anual
populacoes_A = [A]
populacoes_B = [B]
populacoes_C = [C]

#passagem dos anos
for ano in range(anos):
    A, B, C = atualizar_populacao(A, B, C)
    populacoes_A.append(A)
    populacoes_B.append(B)
    populacoes_C.append(C)

#registro
for n, (An, Bn, Cn) in enumerate(zip(populacoes_A, populacoes_B, populacoes_C), start=1):
    print(f"Ano {n}: A = {An:.2f}, B = {Bn:.2f}, C = {Cn:.2f}")


#resultados esperados: população com valores que coincidam para (i) -> (0.5, 0.25, 1) -> (10k, 5k, 20k)

Ano 1: A = 8000.00, B = 16000.00, C = 11000.00
Ano 2: A = 7750.00, B = 13600.00, C = 13650.00
Ano 3: A = 7657.50, B = 11655.00, C = 15687.50
Ano 4: A = 7676.12, B = 10089.75, C = 17234.12
Ano 5: A = 7770.22, B = 8839.41, C = 18390.37
Ano 6: A = 7912.72, B = 7848.55, C = 19238.73
Ano 7: A = 8083.38, B = 7070.11, C = 19846.51
Ano 8: A = 8267.37, B = 6464.43, C = 20268.20
Ano 9: A = 8454.04, B = 5998.28, C = 20547.68
Ano 10: A = 8636.02, B = 5644.03, C = 20719.95
Ano 11: A = 8808.42, B = 5378.82, C = 20812.76
Ano 12: A = 8968.21, B = 5183.90, C = 20847.89
Ano 13: A = 9113.79, B = 5043.94, C = 20842.27
Ano 14: A = 9244.52, B = 4946.53, C = 20808.95
Ano 15: A = 9360.52, B = 4881.68, C = 20757.81
Ano 16: A = 9462.35, B = 4841.39, C = 20696.25
Ano 17: A = 9550.93, B = 4819.35, C = 20629.72
Ano 18: A = 9627.32, B = 4810.57, C = 20562.10
Ano 19: A = 9692.70, B = 4811.19, C = 20496.11
Ano 20: A = 9748.23, B = 4818.22, C = 20433.54
Ano 21: A = 9795.09, B = 4829.40, C = 20375.51
Ano 22: A = 9834.35, B = 4843.03, C = 20322.62
Ano 23: A = 9867.05, B = 4857.86, C = 20275.09
Ano 24: A = 9894.10, B = 4872.99, C = 20232.91
Ano 25: A = 9916.33, B = 4887.80, C = 20195.86
Ano 26: A = 9934.49, B = 4901.88, C = 20163.63
Ano 27: A = 9949.23, B = 4914.95, C = 20135.82
Ano 28: A = 9961.09, B = 4926.88, C = 20112.02
Ano 29: A = 9970.59, B = 4937.62, C = 20091.80
Ano 30: A = 9978.12, B = 4947.15, C = 20074.73
Ano 31: A = 9984.04, B = 4955.53, C = 20060.42
Ano 32: A = 9988.66, B = 4962.83, C = 20048.51
Ano 33: A = 9992.22, B = 4969.13, C = 20038.65
Ano 34: A = 9994.93, B = 4974.53, C = 20030.54
Ano 35: A = 9996.96, B = 4979.11, C = 20023.92
Ano 36: A = 9998.46, B = 4982.99, C = 20018.55
Ano 37: A = 9999.54, B = 4986.24, C = 20014.22
Ano 38: A = 10000.30, B = 4988.94, C = 20010.76
Ano 39: A = 10000.81, B = 4991.18, C = 20008.01
Ano 40: A = 10001.13, B = 4993.03, C = 20005.84
Ano 41: A = 10001.31, B = 4994.54, C = 20004.16
Ano 42: A = 10001.38, B = 4995.76, C = 20002.86
Ano 43: A = 10001.39, B = 4996.75, C = 20001.87
Ano 44: A = 10001.34, B = 4997.54, C = 20001.12
Ano 45: A = 10001.27, B = 4998.16, C = 20000.57
Ano 46: A = 10001.17, B = 4998.66, C = 20000.18
Ano 47: A = 10001.06, B = 4999.04, C = 19999.90
Ano 48: A = 10000.95, B = 4999.34, C = 19999.71
Ano 49: A = 10000.84, B = 4999.57, C = 19999.59
Ano 50: A = 10000.73, B = 4999.74, C = 19999.53
Ano 51: A = 10000.64, B = 4999.86, C = 19999.50
Ano 52: A = 10000.55, B = 4999.95, C = 19999.50
Ano 53: A = 10000.47, B = 5000.02, C = 19999.51
Ano 54: A = 10000.40, B = 5000.06, C = 19999.54
Ano 55: A = 10000.33, B = 5000.09, C = 19999.58
Ano 56: A = 10000.28, B = 5000.10, C = 19999.62
Ano 57: A = 10000.23, B = 5000.11, C = 19999.66
Ano 58: A = 10000.19, B = 5000.11, C = 19999.69
Ano 59: A = 10000.16, B = 5000.11, C = 19999.73
Ano 60: A = 10000.13, B = 5000.10, C = 19999.77
Ano 61: A = 10000.10, B = 5000.10, C = 19999.80
Ano 62: A = 10000.08, B = 5000.09, C = 19999.83
Ano 63: A = 10000.07, B = 5000.08, C = 19999.86
Ano 64: A = 10000.05, B = 5000.07, C = 19999.88
Ano 65: A = 10000.04, B = 5000.06, C = 19999.90
Ano 66: A = 10000.03, B = 5000.05, C = 19999.92
Ano 67: A = 10000.02, B = 5000.05, C = 19999.93
Ano 68: A = 10000.02, B = 5000.04, C = 19999.94
Ano 69: A = 10000.01, B = 5000.03, C = 19999.95
Ano 70: A = 10000.01, B = 5000.03, C = 19999.96
Ano 71: A = 10000.01, B = 5000.02, C = 19999.97
Ano 72: A = 10000.01, B = 5000.02, C = 19999.98
Ano 73: A = 10000.00, B = 5000.02, C = 19999.98
Ano 74: A = 10000.00, B = 5000.01, C = 19999.98
Ano 75: A = 10000.00, B = 5000.01, C = 19999.99
Ano 76: A = 10000.00, B = 5000.01, C = 19999.99
Ano 77: A = 10000.00, B = 5000.01, C = 19999.99
Ano 78: A = 10000.00, B = 5000.01, C = 19999.99
Ano 79: A = 10000.00, B = 5000.00, C = 20000.00
Ano 80: A = 10000.00, B = 5000.00, C = 20000.00
Ano 81: A = 10000.00, B = 5000.00, C = 20000.00
Ano 82: A = 10000.00, B = 5000.00, C = 20000.00
Ano 83: A = 10000.00, B = 5000.00, C = 20000.00
Ano 84: A = 10000.00, B = 5000.00, C = 20000.00
Ano 85: A = 10000.00, B = 5000.00, C = 20000.00
Ano 86: A = 10000.00, B = 5000.00, C = 20000.00
Ano 87: A = 10000.00, B = 5000.00, C = 20000.00
Ano 88: A = 10000.00, B = 5000.00, C = 20000.00
Ano 89: A = 10000.00, B = 5000.00, C = 20000.00
Ano 90: A = 10000.00, B = 5000.00, C = 20000.00
Ano 91: A = 10000.00, B = 5000.00, C = 20000.00
Ano 92: A = 10000.00, B = 5000.00, C = 20000.00
Ano 93: A = 10000.00, B = 5000.00, C = 20000.00
Ano 94: A = 10000.00, B = 5000.00, C = 20000.00
Ano 95: A = 10000.00, B = 5000.00, C = 20000.00
Ano 96: A = 10000.00, B = 5000.00, C = 20000.00
Ano 97: A = 10000.00, B = 5000.00, C = 20000.00
Ano 98: A = 10000.00, B = 5000.00, C = 20000.00
Ano 99: A = 10000.00, B = 5000.00, C = 20000.00
Ano 100: A = 10000.00, B = 5000.00, C = 20000.00
Ano 101: A = 10000.00, B = 5000.00, C = 20000.00